<h1><%= @game.gameId %></h1>
<ul>
    <li>Home Team: <%= @game.teamOne%> </li>
    <li>Away Team: <%= @game.teamTwo%> </li>
    <li>Spread: <%= @game.gameSpread%> </li>
    <li>Completion Status: <%= @game.status%> </li>
    <li>Line Result: <%= @game.scoreDiff%> </li>
</ul>

<ul>
    <li><%= link_to "Edit", edit_game_path(@game) %></li>
    <li><%= link_to "Destroy", game_path(@game), data: {
        turbo_method: :delete,
        turbo_confirm: "Ar you sure?"
    } %></li>
</ul>